# Don't commit the vendor packages for the various applications
client/vendor
server/vendor

# Don't commit the tmp files build by the Golang runner
client/tmp
server/tmp

// Don't commit the .realize.yaml file and let it be regenerated during runtime
client/.realize.yaml

// Avoid .swp files
*~
*.swp
*.swo
